<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PowerAutomateControl.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sideMenu.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Environments.js"></script>
</head>
<body class="relative h-full">
    <partial name="_TopBar.cshtml" />

    <!--Main content-->
    <div class="flex">
        <!--Side menu-->
        <partial name="_SideMenu.cshtml" />

        <!--Content-->
        <div class="w-full overflow-y-auto" style="height: calc(100vh - 59px);">
            @RenderBody()
        </div>
    </div>

    <!--Environment selector-->
    <div id="environmentSideBar" class="border-t-2 border-l-2 absolute right-0 hidden w-72 border-gray-100 bg-white" style="height: calc(100vh - 59px); top:59px;">
        <!--Close button-->
        <div class="flex cursor-pointer justify-end" id="closeEnvironmentSideBar">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="2.5" stroke="black" class="mr-2 size-7">
                <path strokeLinecap="round" strokeLinejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
        <!--Add environment button-->
        <div class="flex cursor-pointer px-2 py-3 hover:text-blue-800" onclick="loadEnvironments()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-2 size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p>Añadir entorno</p>
        </div>
        <hr>
        <!--My environments-->
        <div class="px-2 pt-2">
            <span class="text-base">Mis entornos</span>
            <div id="myEnvironmentsArea">
                
            </div>
        </div>
    </div>

    <!--Create Environment modal-->
    <partial name="_CreateEnvironmentModal.cshtml" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
