
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <div class="bg-white shadow-md">
        <div class="flex w-full flex-wrap justify-between">
            <div>
                <!--Espacio para boton de abrir menu en mobile-->
            </div>
            <!--Environment Selector-->
            <div id="currentEnvironment" class="w-auto py-3 pr-32 hover:bg-blue-400">
                <div class="border-l-2 flex flex-col border-black pl-5">
                    <span style="font-size: 10px;">Entorno</span>
                    <span class="text-sm"></span>
                </div>
            </div>
        </div>
    </div>
</header>